

@media only screen and (max-width: 1248px) {
    .subject-item {
      float: none;
      margin: 0 auto;
    }
  }
  
  @media only screen and (max-width: 532px) {
    .subject-item {
      width: 340px;
      margin-top: 38px;
    }
    
    .subject-item:nth-child(8) {
      margin-top: 52px;
    }
  }
  
  @media only screen and (max-width: 370px) {
    .subject-item {
      width: 230px;
    }
    .laravel-img {
      display: none;
    }
  }
  